#wrapper {
}

#field {
  position: relative;
  height: 588px;
  width: 657px;
  background: url('cards_png/blank.png') repeat;
}

#field .card, #field .empty {
  position: absolute;
  height: 96px;
  width: 71px;
}

#field .card {
  cursor: pointer;
}

#field .droppable-allow {
  background-color: #6f6;
  height: 94px;
  width: 69px;
  margin: 1px;
}

#footer {
  margin-top: 4px;
}

p {
  margin: 0;
  margin-top: 0.2em;
}

a {
  color: steelblue;
}
